*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: none;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
}


.pImageUpload{
    /* display: none; */
    background: rgb(167, 144, 18);
    border-radius: 10px;
    width: 190px;
    outline: none;
    
}

::-webkit-file-upload-button{
    color: #fff;
    background-color: #206a5d;
    border: none;
}

::-webkit-file-upload-button:hover{
    opacity: .5;
}

header{
    width: 100%;
    height: 80px;
    align-content: center;
    background-color: #fff;
    overflow: hidden;
    z-index: 1;
}

.header-justify{
    display: flex;
    justify-content: space-between;
}

nav{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav a{
    margin-left: 45px;
    color: black;
    line-height: 1px;
    /* display: inline-block; */
}

header nav a img{
    height: 65px;
    width: 85px;
}

.bringCart{
    width: 80px;
    height: 100%;
    background-color: gold;
    z-index: 1;
    cursor: pointer;
}

.login-below{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login-below label{
    padding-left: 20px;
}

.login-below label{
    margin-top: 4px;
}

.fpass{
    padding-top: 15px;
    padding-left: 0px;
}

span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e00303;
}

/* form{
    position: relative;
} */

nav input{
    background: none;
    border-radius: 10px;
}

nav input[type=checkbox]{
    margin-top: 8px;
}


nav input[type=text]{
    padding-left: 20px;
    line-height: 1.5rem;
    font-size: 0.9rem;
    color: black;
    outline: none;
    border: 1px solid black;
}

nav input[type=password]{
    padding-left: 20px;
    line-height: 1.5rem;
    font-size: 0.9rem;
    color: black;
    outline: none;
    border: 1px solid black;
}

nav input[name=search]{
    width: 300px;
    border: 1px solid black;
}

nav .btn{
    line-height: 1.5rem;
    font-size: 0.9rem;
    color: black;
    width: 70px;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid black;
    border-radius: 5px;
}

nav .btn:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.8);
    outline: none;
}

.no-border{
    border: none;
    line-height: 1.5rem;
    font-size: 0.9rem;
    color: black;
    width: 70px;
    text-transform: uppercase;
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.login-form{
    margin-top: 15px;
}

.change_btn button{
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}





/* main */

main .container{
    width: 100%;
    display: flex;
    /* grid-template-columns: repeat(autofit, minmax(200px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;   */
    /* flex-direction: row; */
}

.image{
    background-image: url(./assets/a.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 95vh;
}

.signup_form{
    width: 40%;
    height: 100vh;
    float:right;
    background-color: rgba(255, 255, 255, 0.8)
}

.txt-signup{
    font: 1em monospace;
    font-size: 2em;
    font-weight: bold;
}

.signup_content{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    justify-content: space-evenly;
    align-items: center;
}

.signup_content input{
    width: 70%;
    margin: 11px 0;
    border: none;
    border-bottom: 1px solid black;
    background: none;
    outline: none;
    text-transform: capitalize;
}


/* .signup_content label{
    display: block;
    align-self: start;
} */

.signup_content input[type=text]{
    padding-bottom: 10px;
    line-height: 2px;
    font-size: 0.8rem;
    color: black;
}

.signup_content input[type=email]{
    padding-bottom: 10px;
    line-height: 2px;
    font-size: 0.8rem;
    color: black;
}

.signup_content input[type=password]{
    padding-bottom: 10px;
    line-height: 2px;
    font-size: 0.8rem;
    color: black;
}

.signup_content input[type=date]{
    padding-bottom: 1px;
    font-size: 0.8rem;
    color: black;
    height: 30px;
    margin-bottom: 20px;
    text-transform: lowercase;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

select{
    margin:20px 0;
    outline: none;
    border: none;
    background: none;
    line-height: 2px;
    font-size: 0.8rem;
    color: black;
    text-transform: uppercase;
}
label{
    text-transform: uppercase;
    line-height: 1.5rem;
    font-size: 1.2em;
    font-weight: bold;
}

.signup_content button{
    background: transparent;
    width: 70%;
    line-height: 1.5rem;
    font-size: 1.2rem;
    color: black;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 5px;
    height: 45px;
}

.signup_content button:hover{
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

/* Main Admin */

.user-profile{
    width: 20%;
    height: 140vh;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
}

.user-profile .profile-items{
    margin-top: 25px;
    width: 80%;
}

.profileIMG{
    width: 100%;
    height: 210px;
    background-color: #fff;
}

.user-profile .add-profile{
    width: 100%;
    height: 30px;
    margin: 5px 0;
    font-size: 1.1em;
}

.user-profile .user-info {
    width: 100%;
    font: 1.2em monospace;
    line-height: 1.5;
    /* font-weight: bold; */
    word-wrap: break-word;
    overflow: hidden;
}

/* .user-profile .user-info .email{
    font-weight: 1em;
} */

.user-profile button[type=submit]{
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.display-products-user{
    width: 80%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.util{
    display: flex;
    flex-direction: row;
    width: 80%;
}

.util button{
    margin:0px 50px;
    padding: 0px 20px;
    border: none;
    background: none;
    outline: none;
}

.util button:hover{
    background-color: gold;
    
}

.display-products-user .section-text{
    font: 1.9em monospace;
    line-height: 1.5;
    font-weight: bold;
}

.display-products{
    width: 55%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.inventory-products{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px 0;
}
.inventory-oders{
    width: 100%;
    display: flex;
    /* flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px 0; */
}

.product-box{
    position: relative;
    width: 200px;
    height: 312px;
    background-color: #ebebeb;
}

.product-box .products-img{
    width: 100%;
    height: 200px;
    background-color: inherit;   
}

.relative-box{
    position: relative;
}

.product-box .stock-text{
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgb(248, 224, 3);
}

.titles{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.display-products h1{
    font: 1.9em monospace;
    line-height: 1.5;
    font-weight: bold;
}

.product-box .products-img .edit{
    position: absolute;
    top: 7px;
    right: 5px;
}

.product-box .products-img .edit .edit-btn{
    background: orange;
    opacity: 0.5;
    border: none;
    outline: none;
    cursor: pointer;
}

.product-box .products-img .edit .edit-btn:hover{
    opacity: 1;
}

.product-box .products-img .edit .edit-btn-save{
    background: orange;
    opacity: 0.5;
    border: none;
    outline: none;
    cursor: pointer;
    visibility: hidden;
    display: none;
}

.product-box .products-img .edit .edit-btn-save:hover{
    opacity: 1;
}

/* .block{
    display: block;
} */

.products-info-dates{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

.products-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

.addCart{
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background: inherit;
    height: 40px;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    opacity: 0.5;
    border: none;
    outline: none;
}



.addCart:hover{
    background-color: darkgoldenrod;
    opacity: 1;
}

.cart-img{
    height: 20px;
    width: 20px;
}

.product-box .product-img{
    margin-left: 5px;
    margin-top: 7px;
    width: 95%;
    height: 90%;
    background-color: black;
}

.products-form{
    width: 25%;
    height: 140vh;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.products-form h3{
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 1.5rem;
    line-height: 1.5rem;
    margin-top: 30px;
}

.products-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-form form input[type=text]{
    line-height: 1.3em;
    font-size: 0.9rem;
    border: none;
    background: transparent;
    border-bottom: 1px solid rgb(46, 38, 38);
    margin-top: 30px;
    width: 90%;
    outline: none;
}

.products-form form input[type=email]{
    line-height: 1.3em;
    font-size: 0.9rem;
    border: none;
    background: none;
    border-bottom: 1px solid rgb(46, 38, 38);
    margin-top: 30px;
    width: 90%;
    outline: none;
}

.products-form form input[type=password]{
    line-height: 1.3em;
    font-size: 0.9rem;
    border: none;
    background: none;
    border-bottom: 1px solid rgb(46, 38, 38);
    margin-top: 30px;
    width: 90%;
    outline: none;
}

.products-form form input[type=number]{
    /* padding-left: 20px; */
    line-height: 1.3em;
    font-size: 0.9rem;
    border: none;
    background: none;
    border-bottom: 1px solid rgb(46, 38, 38);
    margin-top: 30px;
    width: 90%;
    outline: none;
}

.products-form form .stock{
    margin-bottom: 20px;
}

.products-form form input[type=date]{
    border: none;
    background: none;
    border-bottom: 1px solid rgb(46, 38, 38);
    margin: 10px 0;
    width: 90%;
}

.products-form form label{
    padding-top: 30;
}

.products-form form button{
    line-height: 1.5rem;
    font-size: 0.9rem;
    color: black;
    width: 100%;
    text-transform: uppercase;
    background-color: cadetblue;
    border: 1px solid black;
    border-radius: 5px;
    height: 35px;
    margin-top: 30px;
}

.pwdr{
    margin-bottom: 20px;
}

.addedCartOverlay{
    position: fixed;
    z-index: 2;
    background: rgba(255, 215, 0, .7);
    /* opacity: .3; */
    top: 80px;
    right: 0px;
    height: 100%;
    width: 100%;
    visibility: hidden;
    transition: all .3s linear;
    transform: translateX(100%);
}

.cartDisplay{
    position: fixed;
    background: #ebebeb;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 30%;
    opacity: 1;
    min-width: 350px;
    z-index: 3;
    padding: 1.5rem;
    overflow: scroll;
    /* visibility: hidden; */
    transition: all .3s linear;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartProduct{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 10px;
}

.cartProduct .cartPImg{
    width: 70px;
    height: 70px;
}

.cartProduct .cartPImg img{
    height: 100%;
    width: 100%;
}
.cartFooter{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.cartTotal{
    background-color: rgba(255, 215, 0, .7);
    padding: 10px 20px;
}

.payment{
    background-color: #206a5d;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 10px 20px;
}

.payment input[type=radio]{
    cursor: pointer;
}

.delivery{
    background-color: rgba(255, 215, 0, .7);
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 10px 20px;
}

.delivery input[type=radio]{
    cursor: pointer;
}

.cartBuy{
    width: 90%;
    height: 35px;
    font-size: 16px;
    line-height: 1.2rem;
    background: #206a5d;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

.cartBuy:hover{
    
    background: rgba(255, 215, 0, .7);
    outline-offset: 3px;
}


/* Footer */

footer{
    width: 100%;
    height: 90px;
    background-color: black;
    opacity: .8;
}

footer .container{
    width: 80%;
    
}

footer p{
    color: #ebebeb;
    margin-left: 70px;
    padding-top: 15px;
    cursor: pointer;
}